/**标题栏高度**/
/**任务栏高度**/
/**标题栏高度**/
.tr-select td {
  background: #f0fff0 !important;
}
.tabHeader {
  border: 1px solid #efeff5;
  border-bottom: 0;
  padding: 12px 16px;
  background-color: #fafafc;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
.animation-faster-plus {
  --animate-duration: 0.5s;
}
.animation-faster-pro {
  --animate-duration: 0.2s;
}
